:80 {
    request_body {
        max_size 52MB
    }
    handle /api/* {
        reverse_proxy api:8000
    }
    handle {
        root * /srv
        try_files {path} /index.html
        file_server
        header {
            X-Content-Type-Options nosniff
            X-Frame-Options DENY
            Referrer-Policy same-origin
            Content-Security-Policy "default-src 'self'; img-src 'self' data:; style-src 'self'; script-src 'self'; connect-src 'self'; frame-ancestors 'none'; base-uri 'self'; form-action 'self'"
        }
    }
}

